<div class="search-section py-5">
  <div class="container">
    <div class="text-center">
      <div class="card mx-auto" style="max-width: 600px">
        <div class="card-body">
          <h5 class="card-title">Más tiempo para hacer lo que quieras</h5>
          <p class="card-text">
            Recetas fáciles y elegantes para que sigas cocinando toda la semana.
          </p>
          <a routerLink="/recipes" class="btn btn-danger">Descubrir recetas</a>
        </div>
      </div>
    </div>
  </div>
</div>
