<footer class="bg-light py-4">
  <div class="container text-center">
    <a class="navbar-brand d-block mb-3" routerLink="/"> 
      <img src="logo-vertical.png" class="logo" alt="Culinateca Logo">
    </a>
    <div class="social-links mb-3 d-flex justify-content-center">
      <a href="#" class="mx-2"><i class="fa-brands fa-instagram p-2"></i></a>
      <a href="#" class="mx-2"><i class="fa-brands fa-pinterest p-2"></i></a>
      <a href="#" class="mx-2"><i class="fa-brands fa-facebook-f p-2"></i></a>
    </div>
    <ul class="list-inline mb-3 d-flex justify-content-center link">
      <li class="list-inline-item mx-2"><a routerLink="/recipes">Recetas</a></li>
      <li class="list-inline-item mx-2"><a routerLink="/about">Nosotros</a></li>
      <li class="list-inline-item mx-2"><a routerLink="/suggestions">Sugerencias</a></li>
    </ul>
    <p class="text-muted small mb-0">&copy; CULINATECA. Todos los derechos reservados.</p>
  </div>
</footer>
