<div class="search-section py-5">
  <div class="container">
    <div class="card bg-light bg-opacity-75 p-5 mx-auto" style="max-width: 800px;">
      <div class="text-center">
        <h1>¿Qué te gustaría cocinar?</h1>
        <p>Descubre muchas recetas deliciosas de todas partes del mundo.</p>
        <div class="search-bar mx-auto mt-3">
          <div class="input-group">
            <input class="form-control border-right-0 rounded-left" type="search" placeholder="Buscar recetas...">
            <div class="input-group-append">
              <button class="btn btn-outline-danger rounded-right" type="submit">
                <i class="fa-solid fa-magnifying-glass"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

