
<div class="container">
<div class="card my-5" >
    <div class="row g-0">
      <div class="col-md-6">
        <img src="cook.jpg" class="img-fluid rounded-start" alt="Amor por la cocina">
      </div>
      <div class="col-md-6">
        <div class="card-body ">
          <h2 class="card-title subtitle">Amor por la cocina</h2>
          <p class="card-text message">En Culinateca, nuestra pasión por la cocina es el corazón de todo lo que
            hacemos. Creemos que cocinar es más que una tarea diaria; es una forma
            de arte que une a las personas, despierta los sentidos y crea momentos
            inolvidables alrededor de la mesa.</p>
        </div>
      </div>
    </div>
  </div>
</div>