<!-- src/app/components/recipes/ingredients/ingredients.component.html -->

<div class="card border-light mb-3 mb-4">
  <div class="card-body">
    <h5 class="card-title"><i class="fa-solid fa-basket-shopping"></i> Ingredientes</h5>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of ingredients">
        <input type="checkbox" class="form-check-input custom-checkbox me-2" />
        <span class="ingredient-text">{{ ingredient }}</span>
      </li>
    </ul>
  </div>
</div>
