
<div class="container mt-5">
<div class="card mb-3" style="max-width: fit-content;">
  <div class="row g-0">
    <div class="col-md-4">
      <img [src]="recipe?.imageUrl" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h1 class="card-title">{{ recipe?.title }}</h1>
        <p class="card-text">{{ recipe?.description }}</p>
        <p class="card-text"><small class="text-body-secondary">{{ recipe?.preparationTime }}</small><span>
          <small class="text-body-secondary">{{ recipe?.servingSize }}</small>
        </span></p>
      </div>
    </div>
  </div>
</div>
</div>