.banner-section {
    background-size: cover;
    background-position: center;
    color: white;
    background-color: red;
  }

.img-banner{
  height: 200px;
}

.titulo-banner{
  font-size: 5em;
  font-weight: bold;
}

.text-banner{
  text-align: end;
  font-weight: 500;
}


  