<div class="container my-5">
<div class="text-center mb-5">
    <h3 class="title">Nuestro compromiso</h3>
</div>
<div class="row text-center mb-5">
    <div class="col-md-3">
        <div class="mb-3">
            <img src="compromiso-1.png" class="img-fluid rounded-circle icon-commit" alt="Calidad">
        </div>
        <h5 class="subtitle">Calidad</h5>
    </div>
    <div class="col-md-3">
        <div class="mb-3">        
            <img src="compromiso-2.png" class="img-fluid rounded-circle icon-commit" alt="Confianza">
        </div>
        <h5 class="subtitle">Confianza</h5>
    </div>
    <div class="col-md-3">
        <div class="mb-3">
            <img src="compromiso-3.png" class="img-fluid rounded-circle icon-commit" alt="Conveniencia">
        </div>
        <h5 class="subtitle">Conveniencia</h5>
    </div>
    <div class="col-md-3">
        <div class="mb-3">
            <img src="compromiso-4.png" class="img-fluid rounded-circle icon-commit" alt="Creatividad">
        </div>
        <h5 class="subtitle">Creatividad</h5>
    </div>
</div>
</div>