<!-- recipes-list.component.html -->

<div class="new-recipes container py-5">
  
  <div class="row row-cols-1 row-cols-md-3 g-3 my-5">
    @for(recipe of recipes; track recipe._id) {

    <div class="col">
      <a [routerLink]="['/recipe', recipe._id]" class="card-link">
        <div class="card text-bg-danger h-100">
          <img [src]="recipe?.imageUrl" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">{{ recipe.title }}</h5>
            <p class="card-text">{{ recipe.description }}</p>
          </div>
          <div class="card-footer">
            <small class="text-body-secondary">
              <i class="fa-solid fa-clock"></i>
              {{ recipe.preparationTime }}
            </small>
          </div>
        </div>
      </a>
    </div>

    }
  </div>

  <!-- Paginador de Angular Material -->

</div>

<mat-paginator
[length]="totalRecipes"
[pageSize]="pageSize"
[pageSizeOptions]="[5, 10, 20]"
(page)="onPageChange($event)"
>
</mat-paginator>
